@font-face {
  font-family: 'SilkaMono';
  src: url(fonts/SilkaMono-Regular.otf);
}
@font-face {
  font-family: 'Trap';
  src: url(fonts/Trap-Bold.otf);
}
@font-face {
  font-family: 'Aeronaut';
  src: url(fonts/POIAeronautTrial-Regular.otf);
}

body {
  font-family: 'SilkaMono';
}

#nav {
  background-color: #88a6c5;
  padding: 10px;
}

#nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

#nav a:hover {
  background-color: #40668d;
  padding: 2px;
  margin: 0px;
}

#nav li {
  display: inline-block;
  margin-right: 45px;
}


#header {
  font-family: 'Aeronaut';
}

#header2 {
  font-family: 'Aeronaut';
}

#content {
  margin: 50px;
}